
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.navbar h1 {
  color: white;
  margin: 0;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 9999;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #333;
}

.dropdown-content a:hover {
  background-color: #555;
}

/* Media query pour afficher le menu hamburger sur les petits écrans */
@media only screen and (max-width: 768px) {
  .hamburger-menu {
      display: flex;
      z-index: 9999;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
  }

  .dropdown-content.show {
      display: flex;
  }

  .dropdown-content a {
      border-bottom: 1px solid #555;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/* Fixer la taille des images */
.image-table img {
  width: 300px; /* Ajuste la largeur selon tes préférences */
  height: 100px; /* Ajuste la hauteur selon tes préférences */
  object-fit: cover; /* Pour maintenir les proportions de l'image tout en remplissant la boîte */
}


.image-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.image-table caption {
  font-size: 1.5em; /* Taille du texte du caption */
  font-weight: bold; /* Gras pour le texte du caption (optionnel) */
  margin-bottom: 10px; /* Marge en bas du caption (optionnel) */
  text-transform: uppercase;
}

.image-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

input[type="checkbox"] {
  margin-top: 10px;
  cursor: pointer;
  transform: scale(1.8);
  z-index: 1;
}

label {
  display: block;
  margin-top: 5px;
  font-size: 1.4rem;
}
 
/* Media queries pour les écrans de taille moyenne (tablettes) */
@media only screen and (max-width: 768px) {
  .container {
      padding: 10px;
  }
}

/* Media query pour afficher le menu hamburger sur les petits écrans */
@media only screen and (max-width: 768px) {
  .hamburger-menu {
      display: flex;
      z-index: 9999;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      z-index: 9998;
  }

  .dropdown-content.show {
      display: flex;
  }

  .dropdown-content a {
      border-bottom: 1px solid #555;
  }

    /* Désactive les interactions avec les cases à cocher lorsque le menu est ouvert */
    .dropdown-content.show .image-table input[type="checkbox"] {
      pointer-events: none;
    }
}

/* Media query pour afficher le menu hamburger également sur les écrans plus larges */
@media only screen and (min-width: 769px) {
  .hamburger-menu {
      display: none;
      z-index: 9999;
  }

  .dropdown-content {
      display: flex;
      flex-direction: row; /* Ajoute cette ligne pour aligner les liens horizontalement */
      position: static;
      width: auto;
      background-color: transparent;
  }

  .dropdown-content a {
      border-bottom: none;
      padding: 0 15px; /* Espacement entre les liens */
  }
}

/* Styles pour le bouton de retour vers le haut */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#back-to-top:hover {
  background-color: #555;
}